*{
  margin: 0;
  padding: 0;
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(74px * 8);
  height: calc(74px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell{
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 58px;
  height: 58px;
  position: relative;
}

.black{
  background-color: #879397;
}

.white{
  background-color: #d1b694;
}

.selected{
  background-color: brown;;
}

.available {
  height: 12px;
  width: 12px;
  background-repeat: 50%;
  background-color: #22c022;
}